apiVersion: apps/v1
kind: Deployment
metadata:
  name: apigateway-deployment
  namespace: petclinic
  labels:
    app: apigateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: apigateway
  template:
    metadata:
      labels:
        app: apigateway
    spec:
      containers:
        - name: apigateway
          image: caannamalai/apigateway:3.2.4
          ports:
            - containerPort: 9898
---

apiVersion: v1
kind: Service
metadata:
  name: apigateway-service
  namespace: petclinic
  labels:
    app: apigateway
spec:
  selector:
    app: apigateway
  ports:
    - protocol: TCP
      port: 80
      targetPort: 9898

---

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: apigateway-ingress
  namespace: petclinic
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
    - host: ""
      http:
        paths:
          - path: /welcome
            pathType: Prefix
            backend:
              service:
                name: apigateway-service
                port:
                  number: 80
